<mat-toolbar>
  <button matIconButton>
    <!-- matIconButton è una direttiva -->
    <mat-icon>menu</mat-icon>
    <!-- I mat-icon usano icone material. Se invece di menu si volesse usare un altro icona, basta cambiare il nome dell'icona all'interno delle tag <mat-icon> (ad esempio home)-->
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button matIconButton>
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
